<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="true"
    processIsolation="false"
    backupGlobals="false"
>
    <testsuite name="blackjack tests">
        <directory>./tests</directory>
    </testsuite>
</phpunit>
